MessengerWindowsClient/Service References/MessengerService/MessengerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessengerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessenger_SetEncryptedSessionKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEncryptedSessionKey" />
  </wsdl:message>
  <wsdl:message name="IMessenger_SetEncryptedSessionKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEncryptedSessionKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMessenger_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMessenger_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_WriteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessage" />
  </wsdl:message>
  <wsdl:message name="IMessenger_WriteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetPossibleUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleUsers" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetPossibleUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetNewMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessages" />
  </wsdl:message>
  <wsdl:message name="IMessenger_GetNewMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_IsUniqueUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUniqueUsername" />
  </wsdl:message>
  <wsdl:message name="IMessenger_IsUniqueUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUniqueUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessenger">
    <wsdl:operation name="SetEncryptedSessionKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/SetEncryptedSessionKey" message="tns:IMessenger_SetEncryptedSessionKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/SetEncryptedSessionKeyResponse" message="tns:IMessenger_SetEncryptedSessionKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/RegisterUser" message="tns:IMessenger_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/RegisterUserResponse" message="tns:IMessenger_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/Login" message="tns:IMessenger_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/LoginResponse" message="tns:IMessenger_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/WriteMessage" message="tns:IMessenger_WriteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/WriteMessageResponse" message="tns:IMessenger_WriteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/GetAllMessages" message="tns:IMessenger_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/GetAllMessagesResponse" message="tns:IMessenger_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/GetPossibleUsers" message="tns:IMessenger_GetPossibleUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/GetPossibleUsersResponse" message="tns:IMessenger_GetPossibleUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/GetNewMessages" message="tns:IMessenger_GetNewMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/GetNewMessagesResponse" message="tns:IMessenger_GetNewMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUniqueUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/IsUniqueUsername" message="tns:IMessenger_IsUniqueUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/IsUniqueUsernameResponse" message="tns:IMessenger_IsUniqueUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpEndPoint" type="tns:IMessenger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetEncryptedSessionKey">
      <soap:operation soapAction="http://tempuri.org/IMessenger/SetEncryptedSessionKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IMessenger/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMessenger/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteMessage">
      <soap:operation soapAction="http://tempuri.org/IMessenger/WriteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/IMessenger/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPossibleUsers">
      <soap:operation soapAction="http://tempuri.org/IMessenger/GetPossibleUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewMessages">
      <soap:operation soapAction="http://tempuri.org/IMessenger/GetNewMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUniqueUsername">
      <soap:operation soapAction="http://tempuri.org/IMessenger/IsUniqueUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerService">
    <wsdl:port name="httpEndPoint" binding="tns:httpEndPoint">
      <soap:address location="http://localhost:50548/Messenger.svc/http" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>