MessengerWindowsClient/Service References/MessengerService/MessengerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessengerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessenger_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMessenger_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_FriendUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FriendUser" />
  </wsdl:message>
  <wsdl:message name="IMessenger_FriendUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FriendUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_PingToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:PingToServer" />
  </wsdl:message>
  <wsdl:message name="IMessenger_PingToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IMessenger_IsUniqueUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUniqueUsername" />
  </wsdl:message>
  <wsdl:message name="IMessenger_IsUniqueUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUniqueUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessenger">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/RegisterUser" message="tns:IMessenger_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/RegisterUserResponse" message="tns:IMessenger_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FriendUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/FriendUser" message="tns:IMessenger_FriendUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/FriendUserResponse" message="tns:IMessenger_FriendUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/PingToServer" message="tns:IMessenger_PingToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/PingToServerResponse" message="tns:IMessenger_PingToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUniqueUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessenger/IsUniqueUsername" message="tns:IMessenger_IsUniqueUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessenger/IsUniqueUsernameResponse" message="tns:IMessenger_IsUniqueUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="default" type="tns:IMessenger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IMessenger/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendUser">
      <soap:operation soapAction="http://tempuri.org/IMessenger/FriendUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingToServer">
      <soap:operation soapAction="http://tempuri.org/IMessenger/PingToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUniqueUsername">
      <soap:operation soapAction="http://tempuri.org/IMessenger/IsUniqueUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerService">
    <wsdl:port name="default" binding="tns:default">
      <soap:address location="http://localhost:50548/Messenger.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>