test/Service References/ServiceReference1/Messenger1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessengerServiceData.Entities" />
  <xs:import schemaLocation="http://localhost:50548/Messenger.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessengerServiceData.Entities" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFirst" type="xs:int" />
        <xs:element minOccurs="0" name="idSecond" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FriendUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PingToServerResult" type="q2:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingFromServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ping" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>